@import "./settings";

body {
  color: rgba(0, 0, 0, 0.8);
}

a {
  color: $highlight-color;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background: rgba(0, 0, 0, 0.8);
    color: snow;
  }
  hr {
    background: darkgray;
  }
}
